# FOLDERS
# -------------------------------------------------------------------- #
.idea/
.vscode/
backup/
logs/
review/
vendor/

# FILES
# -------------------------------------------------------------------- #
*.sqlite
*.sql
.env
__salt
