# FOLDERS
# -------------------------------------------------------------------- #
.idea/
.vscode/
backup/
data/
logs/
review/
vendor/

# FILES
# -------------------------------------------------------------------- #
*.sqlite
*.sql
.env
__SALT
__SALT.001
__SALT.002
